@using Human_Benchmark_2._0.Models.ViewModels
@model AdminMainViewModel

@{
	<h1>@Model.PageNumber</h1>
	for(int i = 0; i < Model.Users.Count; i++)
	{
		<h3>@Model.Users[i].UserName</h3>
		<form asp-action="AdminDelete" method="post">
			@Html.AntiForgeryToken()
			<input type="hidden" name="idOfUser" value="@Model.Users[i].Id" />
			<input type="hidden" name="page" value="@Model.PageNumber" />
			<button type="submit">DELETE</button>
		</form>
	}
	if (Model.FirstPage != true)
	{
		int pageNum = Model.PageNumber - 1;
		<form asp-action="AdminMain" method="get">
			<input type="hidden" name="page" value="@pageNum" />
			<input type="submit" value="Previous page" />
		</form>
	}
	if (Model.FinalPage != true)
	{
		int pageNum = Model.PageNumber + 1;
		<form asp-action="AdminMain" method="get">
			<input type="hidden" name="page" value="@pageNum" />
			<input type="submit" value="Next page"/>
		</form>
	}
}
