@using Human_Benchmark_2._0.Models.ViewModels
@using Human_Benchmark_2._0.Models.DataModels
@model ProfileViewModel
<style ></style>
<h1>@Model.User.Id</h1>
@{
	<h1>@Model.User.UserName</h1>
	<h3>Reaction time average times</h3>
	for (int i = 0; i < UserDataModel.arrayCount; i++)
	{
		<h2>@Model.User.reactionTimesArray[i]</h2>
	}
	<h3>Calculation speed average times</h3>
	for (int i = 0; i < UserDataModel.arrayCount; i++)
	{
		<h3>@Model.User.avgTimeScoreArray[i]</h3>
	}
	<h3>Memory Numbers scores</h3>
	for (int i = 0; i < UserDataModel.arrayCount; i++)
	{
		<h2>@Model.User.memoryNumbersScoreArray[i]</h2>
	}
	<h3>Blocks Memory scores</h3>
	for (int i = 0; i < UserDataModel.arrayCount; i++)
	{
		<h2>@Model.User.blocksScoreArray[i]</h2>
	}
	<h3>Audio Reaction average times</h3>
	for (int i = 0; i < UserDataModel.arrayCount; i++)
	{
		<h2>@Model.User.audioReactionAvgTimeArray[i]</h2>
	}
	<h3>Memory Words scores</h3>
	for (int i = 0; i < UserDataModel.arrayCount; i++)
	{
		<h2>@Model.User.memoryWordsScoreArray[i]</h2>
	}
	<h3>Reverse Numbers scores</h3>
	for (int i = 0; i < UserDataModel.arrayCount; i++)
	{
		<h2>@Model.User.reverseNumbersScoreArray[i]</h2>
	}
	<h3>Reverse Words scores</h3>
	for (int i = 0; i < UserDataModel.arrayCount; i++)
	{
		<h2>@Model.User.reverseWordsScoreArray[i]</h2>
	}
}